

/*** Pagination ***/

.main{
 

}
.pagination{
  padding:1rem;
  margin-top:1rem;
  text-align: center;
}

.pagination p{
  margin: 0;
  color:var(--main-color);
  padding: 0.3rem;
 
}

.load-btn{
  background: var(--main-color);
  color:#fff;
  padding: 0.5rem;
}

.load-btn:hover,
.load-btn:active{
  background: var(--main-color-dark);
}