
.nav{
    margin:1rem 0 2rem;
    text-align: center;
}

.nav-item{
    display: inline-block;
    margin:0.5rem;
}

.country-list .nav-item.active a{
    border-bottom: 3px solid var(--main-color);
    color:var(--secondary-text);
}

.country-list .nav-item a:hover,
.country-list .nav-item a:focus{
    color:var(--secondary-text);
}

.city-list .nav-item{
    color:var(--secondary-text);
}
.city-list .nav-item.active a{
    border-bottom: 2px solid var(--secondary-text);
}